{% extends "base.html" %}

{% block title %}
    About | AppFabio1
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Page About</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt dicta expedita illum! Amet animi aperiam, assumenda blanditiis distinctio dolores ducimus eum id iste molestiae nemo optio, quas quia voluptate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}