{% extends "base.html" %}

{% block title %}
    About | AppFabio1
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if perms.games %}
                            permitido
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
