{% extends "base.html" %}

{% block title %}
    History | AppFabio1
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Page History</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur assumenda delectus eveniet exercitationem ipsa maxime molestiae mollitia natus nulla odio possimus praesentium quaerat rerum sunt tempore ullam, voluptate voluptatum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}